In [1]:
import pandas as pd
import requests
from config import api_key

/Users/brandonamarasingam/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Define the list of meme cryptocurrencies (all above 1 billion MC)
cryptocurrencies = ['DOGE', 'SHIB', 'PEPE', 'WIF', 'BONK', 'FLOKI']

In [12]:
#Read in memecoins

def get_historical_prices(token_id, vs_currency='usd', days=365):
    url = f"https://api.coingecko.com/api/v3/coins/{token_id}/market_chart"
    params = {
        'vs_currency': vs_currency,
        'days': days,
        'interval': 'daily'
    }
    response = requests.get(url, params=params)
    
    if response.status_code != 200:
        print("Response content:", response.content)  # Print the response content for debugging
        raise Exception(f"Failed to fetch data: {response.status_code}")
    
    data = response.json()
    
    # Extracting the price data
    prices = data['prices']
    df = pd.DataFrame(prices, columns=['timestamp', 'price'])
    
    # Convert timestamp to datetime
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
    df.set_index('timestamp', inplace=True)
    df.rename(columns={'price': token_id}, inplace=True)
    
    return df

cryptocurrencies = {
    'dogecoin': 'DOGE',
    'shiba-inu': 'SHIB',
    'pepe': 'PEPE',
    'wifedoge': 'WIF',
    'bonk': 'BONK',
    'floki': 'FLOKI'
}

# List to store DataFrames
dfs = []

# Loop through each cryptocurrency and get historical prices
for token_id, symbol in cryptocurrencies.items():
    try:
        df = get_historical_prices(token_id)
        df.rename(columns={token_id: symbol}, inplace=True)
        dfs.append(df)
    except Exception as e:
        print(f"Error fetching data for {token_id}: {e}")

# Concatenate all DataFrames into one, joining on the index (timestamp)
historical_prices_df = pd.concat(dfs, axis=1)

# Display the DataFrame
print(historical_prices_df)

Response content: b'Throttled\n'
Error fetching data for floki: Failed to fetch data: 429
                         DOGE      SHIB      PEPE           WIF          BONK
timestamp
2023-05-23 00:00:00  0.073093  0.000009  0.000002  1.973846e-12  4.031684e-07
2023-05-24 00:00:00  0.072956  0.000009  0.000002  1.938059e-12  4.037304e-07
2023-05-25 00:00:00  0.070846  0.000009  0.000001  1.882061e-12  3.939341e-07
2023-05-26 00:00:00  0.070926  0.000009  0.000001  1.860434e-12  4.025760e-07
2023-05-27 00:00:00  0.071095  0.000009  0.000001  1.887505e-12  4.023630e-07
...                       ...       ...       ...           ...           ...
2024-05-21 00:40:21       NaN       NaN  0.000011           NaN           NaN
2024-05-21 00:54:17       NaN  0.000026       NaN           NaN           NaN
2024-05-21 00:58:35  0.164508       NaN       NaN           NaN           NaN
2024-05-21 01:07:55       NaN       NaN       NaN           NaN  3.146358e-05
2024-05-21 01:36:19       NaN       NaN       NaN  3.079507e-12           NaN

[369 rows x 5 columns]

In [13]:
historical_prices_df

                         DOGE      SHIB      PEPE           WIF          BONK
timestamp
2023-05-23 00:00:00  0.073093  0.000009  0.000002  1.973846e-12  4.031684e-07
2023-05-24 00:00:00  0.072956  0.000009  0.000002  1.938059e-12  4.037304e-07
2023-05-25 00:00:00  0.070846  0.000009  0.000001  1.882061e-12  3.939341e-07
2023-05-26 00:00:00  0.070926  0.000009  0.000001  1.860434e-12  4.025760e-07
2023-05-27 00:00:00  0.071095  0.000009  0.000001  1.887505e-12  4.023630e-07
...                       ...       ...       ...           ...           ...
2024-05-21 00:40:21       NaN       NaN  0.000011           NaN           NaN
2024-05-21 00:54:17       NaN  0.000026       NaN           NaN           NaN
2024-05-21 00:58:35  0.164508       NaN       NaN           NaN           NaN
2024-05-21 01:07:55       NaN       NaN       NaN           NaN  3.146358e-05
2024-05-21 01:36:19       NaN       NaN       NaN  3.079507e-12           NaN

[369 rows x 5 columns]

In [19]:
#Originally gave an error for floki. Will read in floki again
floki_df = get_historical_prices('floki')

In [27]:
#Keeping up to May 20 2024
floki_df = floki_df.iloc[:-1]
floki_df

               floki
timestamp
2023-05-23  0.000031
2023-05-24  0.000032
2023-05-25  0.000032
2023-05-26  0.000031
2023-05-27  0.000031
...              ...
2024-05-16  0.000212
2024-05-17  0.000207
2024-05-18  0.000211
2024-05-19  0.000204
2024-05-20  0.000193

[364 rows x 1 columns]

In [26]:
#Keeping up to May 20 2024
historical_prices_df = historical_prices_df.iloc[:-5]
historical_prices_df

                DOGE      SHIB      PEPE           WIF          BONK
timestamp
2023-05-23  0.073093  0.000009  0.000002  1.973846e-12  4.031684e-07
2023-05-24  0.072956  0.000009  0.000002  1.938059e-12  4.037304e-07
2023-05-25  0.070846  0.000009  0.000001  1.882061e-12  3.939341e-07
2023-05-26  0.070926  0.000009  0.000001  1.860434e-12  4.025760e-07
2023-05-27  0.071095  0.000009  0.000001  1.887505e-12  4.023630e-07
...              ...       ...       ...           ...           ...
2024-05-16  0.155710  0.000025  0.000011  3.166772e-12  2.486058e-05
2024-05-17  0.149711  0.000025  0.000010  3.096412e-12  2.391884e-05
2024-05-18  0.155671  0.000025  0.000010  3.154565e-12  2.446742e-05
2024-05-19  0.152985  0.000025  0.000010  2.959232e-12  2.627087e-05
2024-05-20  0.149053  0.000024  0.000009  2.943077e-12  2.519496e-05

[364 rows x 5 columns]

In [28]:
#Add floki to df
df = pd.concat([historical_prices_df, floki_df], axis=1)
df

                DOGE      SHIB      PEPE           WIF          BONK     floki
timestamp
2023-05-23  0.073093  0.000009  0.000002  1.973846e-12  4.031684e-07  0.000031
2023-05-24  0.072956  0.000009  0.000002  1.938059e-12  4.037304e-07  0.000032
2023-05-25  0.070846  0.000009  0.000001  1.882061e-12  3.939341e-07  0.000032
2023-05-26  0.070926  0.000009  0.000001  1.860434e-12  4.025760e-07  0.000031
2023-05-27  0.071095  0.000009  0.000001  1.887505e-12  4.023630e-07  0.000031
...              ...       ...       ...           ...           ...       ...
2024-05-16  0.155710  0.000025  0.000011  3.166772e-12  2.486058e-05  0.000212
2024-05-17  0.149711  0.000025  0.000010  3.096412e-12  2.391884e-05  0.000207
2024-05-18  0.155671  0.000025  0.000010  3.154565e-12  2.446742e-05  0.000211
2024-05-19  0.152985  0.000025  0.000010  2.959232e-12  2.627087e-05  0.000204
2024-05-20  0.149053  0.000024  0.000009  2.943077e-12  2.519496e-05  0.000193

[364 rows x 6 columns]

In [29]:
#Export to csv
df.to_csv('meme_df.csv', index = True)